$font-stack: Roboto, Arial, sans-serif;
$primary-accent:  #132C51; /* #18AD90; */
$primary-black: rgba(0,0,0,.87);
$secondary-black: rgba(0,0,0,.57);

/* ----- GLOBAL STYLES ----- */
* {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: $font-stack;
    color: $primary-black;
    font-size: 26px;
    font-weight: 400;
    margin: 0 0 40px 0;
}

h2 {
   font-family: $font-stack;
    color: $primary-black;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 10px 0;
}

p {
    font-family: $font-stack;
    color: $primary-black;
    font-size: 14px;
    line-height: 21px;
}

.primary-button {
    border: 2px solid $primary-accent;
    width: 300px;
    text-align: center;
    font-family: $font-stack;
    color: $primary-accent;
    font-size: 16px;
    padding: 15px 0;
    display: block;
    background: none;
    cursor: pointer;
    outline: none;
}

.primary-button:hover {
    background: $primary-accent;
    color: #ffffff;
    transition: .2s;
}

header {
    position: absolute;
    padding: 10px 0;
    width: 100%;
    z-index: 200;
    background: rgba(0,0,0,.4);

    .logo {
        width: 175px;
        margin-right: 20px;
        float: left;
    }
    
    .primary-navigation {
        float: right;
        font-size: 14px;
      
        
        ul {  
            float: left;
            position: relative;
            top: 5px;
            /* background: rgba(11,104,86,.75); */
            
            li {
                list-style: none;
                float: left;
                margin: 5px 30px;
                color: #FFFFFF;
                font-family: $font-stack;
                font-weight: 500;
                text-transform: uppercase;
                cursor: pointer;
                letter-spacing: .5;
                
            }
            
            li:hover {
                color: $primary-accent;
            }
            
            li:nth-child(4) {
                /* margin-right: 0px;  */      
            }
            
            .phone-number {
                color: #0B6856;
                cursor: auto;
            }
        }
        
        
        
        .utility {
            float: right;
            color: $primary-accent;
            margin: 20px 20px;
        }
    }
    
    
}


.hero {
    width: 100%;
    
    height: 100%;
    background: #FFFFFF;
    position: relative;
    
    .hero-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 100;
        background: rgba(0,0,0,.1);
    }
    
    .hero-copy {
        top: 30%;
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 200;
        
        
        
        h1 {
            color: #FFFFFF;
            font-weight: 500;
            margin-bottom: 20px;
            text-shadow: 0px 2px rgba(0,0,0,.25);
            background: rgba(0,0,0,.0);
            width: 600px;
            margin: 0 auto;
        }
        
        p {
            color: #FFF;
            width: 75%;
            margin: 0 auto;
            text-shadow: 0px 2px rgba(0,0,0,.2);
            background: rgba(0,0,0,.2);
            display: none;
        }
        
        button {
            margin: 40px auto 0 auto;
            background: $primary-accent;
            color: #FFFFFF;
        }
        
        button:hover {
                
        }
        
    }
    
    
    .quote-block {
        bottom: -75px;
        position: absolute;
        z-index: 200;
        
        
        p {
            color: $primary-accent;  
            font-size: 18px;
            line-height: 30px;
        }
        
        .testimonial-credit {
            margin-top: 20px;
            
            p {
                font-size: 12px; 
                line-height: 18px;
            }
        }
        
    }
    
    
    img {
        margin: 0 auto;       
        display: block;
        height: 100%;
        width: auto; 
        max-width: 1785px;

    }    
} 

.quote-block {
    background: #f9f9f9;
    width: 100%;
    padding: 40px 0;
}

.content-block {
    padding: 60px 0;
    width: 100%;
    
    h1 {
        text-align: center;
    }
    
    .primary-button {
        margin: 40px auto 0 auto;    
    }
}


.content-wrapper {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.service-listing {
    margin: 40px auto;
    width: 800px; 
    
    
    .service {
        width: 300px;
        float: left;
    }
    
    .service:first-child {
        margin-right: 200px;
    }
}

.project {
    background: #CCCCCC;
    
    width: 300px;
    height: 225px;
    margin-right: 20px;
    float: left;
}

.project:last-child {
    margin-right: 0;
}

.two-col {
    
    padding: 0 20px;
    
    .left {
        float: left;
        width: 380px;
    }
    .right {
        float: right;
        width: 380px;
        
        img {
            width: 100%;    
        }
    }
    
    .primary-button {
        margin: 20px 0 0 0;
    }
}

.contact-header {
    background: $primary-accent;
    padding: 10px 40px;
    text-align: center;
    margin: 0 auto;
    display: block;
    color: #ffffff;
    width: 120px;
    position: relative;
    top: -143;
}

footer {
    p {
        color: #FFFFFF;    
    }
    
    .right {
        float: right;  
        position: relative;
        top: 22px;     
    }
    
    .left {
        float: left;
    }
    
    ul {
        li {
            float: left;
            margin-left: 20px;
            color: $primary-accent;
            font-weight: 600;
            
            img {
                height: 14px; 
                margin-right: 5px;
                position: relative;
                top: 2px;
            }
        }
        
        .mail-to {
            cursor: pointer;
        }
    }
    
}
 

    

 
