/* #18AD90; */
/* ----- GLOBAL STYLES ----- */
/* line 7, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
* {
  padding: 0;
  margin: 0; }

/* line 12, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
h1 {
  font-family: Roboto, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-size: 26px;
  font-weight: 400;
  margin: 0 0 40px 0; }

/* line 20, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
h2 {
  font-family: Roboto, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 10px 0; }

/* line 28, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
p {
  font-family: Roboto, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  line-height: 21px; }

/* line 35, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
.primary-button {
  border: 2px solid #132C51;
  width: 300px;
  text-align: center;
  font-family: Roboto, Arial, sans-serif;
  color: #132C51;
  font-size: 16px;
  padding: 15px 0;
  display: block;
  background: none;
  cursor: pointer;
  outline: none; }

/* line 49, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
.primary-button:hover {
  background: #132C51;
  color: #ffffff;
  transition: 0.2s; }

/* line 55, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
header {
  position: absolute;
  padding: 10px 0;
  width: 100%;
  z-index: 200;
  background: rgba(0, 0, 0, 0.4); }
  /* line 62, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
  header .logo {
    width: 175px;
    margin-right: 20px;
    float: left; }
  /* line 68, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
  header .primary-navigation {
    float: right;
    font-size: 14px; }
    /* line 73, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
    header .primary-navigation ul {
      float: left;
      position: relative;
      top: 5px;
      /* background: rgba(11,104,86,.75); */ }
      /* line 79, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
      header .primary-navigation ul li {
        list-style: none;
        float: left;
        margin: 5px 30px;
        color: #FFFFFF;
        font-family: Roboto, Arial, sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;
        letter-spacing: 0.5; }
      /* line 92, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
      header .primary-navigation ul li:hover {
        color: #132C51; }
      /* line 96, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
      header .primary-navigation ul li:nth-child(4) {
        /* margin-right: 0px;  */ }
      /* line 100, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
      header .primary-navigation ul .phone-number {
        color: #0B6856;
        cursor: auto; }
    /* line 108, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
    header .primary-navigation .utility {
      float: right;
      color: #132C51;
      margin: 20px 20px; }

/* line 119, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
.hero {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  position: relative; }
  /* line 126, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
  .hero .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.1); }
  /* line 136, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
  .hero .hero-copy {
    top: 30%;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 200; }
    /* line 145, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
    .hero .hero-copy h1 {
      color: #FFFFFF;
      font-weight: 500;
      margin-bottom: 20px;
      text-shadow: 0px 2px rgba(0, 0, 0, 0.25);
      background: rgba(0, 0, 0, 0);
      width: 600px;
      margin: 0 auto; }
    /* line 155, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
    .hero .hero-copy p {
      color: #FFF;
      width: 75%;
      margin: 0 auto;
      text-shadow: 0px 2px rgba(0, 0, 0, 0.2);
      background: rgba(0, 0, 0, 0.2);
      display: none; }
    /* line 164, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
    .hero .hero-copy button {
      margin: 40px auto 0 auto;
      background: #132C51;
      color: #FFFFFF; }
  /* line 177, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
  .hero .quote-block {
    bottom: -75px;
    position: absolute;
    z-index: 200; }
    /* line 183, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
    .hero .quote-block p {
      color: #132C51;
      font-size: 18px;
      line-height: 30px; }
    /* line 189, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
    .hero .quote-block .testimonial-credit {
      margin-top: 20px; }
      /* line 192, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
      .hero .quote-block .testimonial-credit p {
        font-size: 12px;
        line-height: 18px; }
  /* line 201, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
  .hero img {
    margin: 0 auto;
    display: block;
    height: 100%;
    width: auto;
    max-width: 1785px; }

/* line 211, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
.quote-block {
  background: #f9f9f9;
  width: 100%;
  padding: 40px 0; }

/* line 217, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
.content-block {
  padding: 60px 0;
  width: 100%; }
  /* line 221, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
  .content-block h1 {
    text-align: center; }
  /* line 225, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
  .content-block .primary-button {
    margin: 40px auto 0 auto; }

/* line 231, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
.content-wrapper {
  width: 960px;
  margin: 0 auto;
  position: relative; }

/* line 237, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
.service-listing {
  margin: 40px auto;
  width: 800px; }
  /* line 242, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
  .service-listing .service {
    width: 300px;
    float: left; }
  /* line 247, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
  .service-listing .service:first-child {
    margin-right: 200px; }

/* line 252, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
.project {
  background: #CCCCCC;
  width: 300px;
  height: 225px;
  margin-right: 20px;
  float: left; }

/* line 261, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
.project:last-child {
  margin-right: 0; }

/* line 265, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
.two-col {
  padding: 0 20px; }
  /* line 269, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
  .two-col .left {
    float: left;
    width: 380px; }
  /* line 273, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
  .two-col .right {
    float: right;
    width: 380px; }
    /* line 277, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
    .two-col .right img {
      width: 100%; }
  /* line 282, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
  .two-col .primary-button {
    margin: 20px 0 0 0; }

/* line 287, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
.contact-header {
  background: #132C51;
  padding: 10px 40px;
  text-align: center;
  margin: 0 auto;
  display: block;
  color: #ffffff;
  width: 120px;
  position: relative;
  top: -143; }

/* line 300, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
footer p {
  color: #FFFFFF; }
/* line 304, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
footer .right {
  float: right;
  position: relative;
  top: 22px; }
/* line 310, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
footer .left {
  float: left; }
/* line 315, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
footer ul li {
  float: left;
  margin-left: 20px;
  color: #132C51;
  font-weight: 600; }
  /* line 321, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
  footer ul li img {
    height: 14px;
    margin-right: 5px;
    position: relative;
    top: 2px; }
/* line 329, /Users/trand/Sites/007.IK_Construction/www/css/main.scss */
footer ul .mail-to {
  cursor: pointer; }

/*# sourceMappingURL=main.css.map */